.footer{
    background: 
    linear-gradient(rgba(4,9,10,.5),rgba(4,9,10,.8)),
    url('../assets/footer-bg-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 5vh 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8vw;
    row-gap: 8vh;
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10vw;

    }
    @media screen and (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.footer .left{
    display: flex;
    flex-direction: column;
    row-gap: 20px ;
}

.footer .footer-content .content{
    color: #ffffff;
}
.footer .footer-content .content h1{
    font-size: clamp(20px, 2vw, 1.5rem);
    white-space: nowrap;
}
.footer .left .content p{
    font-size: clamp(12px, 2vw, 14px);
    width: 100%;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 1vh;
}

.footer-content .content .links{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vw;
    @media screen and (max-width: 550px) {
        column-gap: 15vw;
    }
}
.footer-content ul li {
    list-style: none;
    margin: 2vh 0;
    
}

.links li:hover a{
    font-weight: 700;
  }
.footer-content ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--inter-font);
    font-size: clamp(8px, 1.5vw, 16px);
    @media screen and (max-width: 1000px) {
        font-size: clamp(14px, 1.5vw,20px);
    }
}
.footer .right .content .links li{
    display: flex;
    flex-direction: column;
}
.footer .right .content .links span{
    font-weight: 500;
}
.footer .right .content .links a{
    font-weight: 600;
}
