.investment-risk{
    display: flex;  
    height: calc(100% + 10vh);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.5)) , url(../assets/portfolio-bg-2.webp) no-repeat right center/cover, #CADCFC;
    padding: 5% 8%;
    color: white;
    .heading{
        font-size: clamp(24px, 4vw,32px);
        border-bottom: 4px solid var(--primary-color);
        width: fit-content;
        display: flex;
        align-items: center;
        position: relative;
        gap: 2vw;
    }

    p {
         width: 80%;
         margin-top: 10px;
         font-size: clamp(10px, 4vw, 19px);

        @media screen and (max-width: 850px) {
            width: 95%;
        }
    }
        
}