.home{
    background: linear-gradient(rgba(4,9,10,.3),rgba(4,9,10,.6)), url('../../assets/home.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-box{
        width: 90%;
        text-align: center;
    }
    h1{
        font-size: clamp(2rem, 4vw , 4rem);
        color: var(--primary-color);
        span{
            color: var(--secondary-color);
            font-size: clamp(2rem, 4vw , 4rem);  
        }
        @media screen and (max-width: 500px) {
            margin-top: 40px;
            font-weight: 800;
        }
    }
    p{
        font-size: clamp(14px, 3vw , 18px);
        color: var(--secondary-color);
        padding: 3vh 0;
        @media screen and (max-width: 500px) {
            width: 90%;
            margin: 0 auto;
            line-height: 18px;
        }
    }
    .hero-btn{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
        border: 2px solid var(--secondary-color);
        font-size: 13px;
        padding: 12px 34px;
        cursor: pointer;
        position: relative;
        background: transparent;
        &:hover{
            background: var(--primary-color);
            letter-spacing: 5px;
            border: 2px solid var(--primary-color);
            transition: 1s ease;
        }
    }
}