*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #00246b;

  --secondary-color: #CADCFC;
}
@keyframes gradients {
  0%   {background-position: 0% 0; }
  50% {background-position: 100% 0;}
  100%  {background-position: 0 0%;}
}

body{
  transition: .3s ease;
}
.main-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.para-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
